<!DOCTYPE html>
<html>
<head>
  <title>NCTU VLSI Design Automation Laboratory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

  </header>
  <section>
    <div class="container">
      <%= yield %>
    </div>
  </section>
  <footer>
    <div class="copyright">
        <p>All Content Copyright © 2015 NCTU VLSI Design Automation Lab. All rights reserved</p>
    </div>
  </footer>
</body>
</html>
